<mat-toolbar>
    <mat-toolbar-row>
      <span>How To Join To An Existing Team</span>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>

<div style="margin:0px 15px;position:relative;top:20px;font-family:sans-serif;">
    <h3 style="font-weight:bold; margin:0">
        Want to join to another team?
    </h3>
    <span>
        If you want to join to an existing team,<br>
        you will need to ask the <b>person who is an admin in this team</b> to add you.
    </span>
    <br><br>
    <h3 style="font-weight: bold; margin:0">
        Just want to create a client?
    </h3>
    <span>
        If you want to add a client, And you dont care about the team<br>
        You can create a new one by yourself,<br>
        And then you will be able to create the client, and add persons to your team.
    </span>
</div>