<mat-spinner style="position:relative; top:180px;" *ngIf="team && team.length === 0"></mat-spinner>
<div *ngIf="!team" class="main-team">
    <mat-card class="registerCard">
        <b><mat-card-subtitle>Create Team</mat-card-subtitle></b>
        <mat-divider></mat-divider>
        <mat-card-content>
          <form [formGroup]="registerTeamFormGroup" #ngForm autocomplete="off">
                <div class="input-class">
                  <mat-form-field class="full-width">
                    <input formControlName="teamname" autofocus matInput placeholder="Enter Your Team Name" name="name" autocomplete="off" required maxlength="40">
                    <mat-icon class="prefix-icon">group</mat-icon>
                    <mat-error *ngIf="teamnameFormControl.hasError('required')">
                      Team name is required.
                    </mat-error>
                    <mat-error *ngIf="teamnameFormControl.hasError('pattern') && !teamnameFormControl.hasError('required')">
                      Team name must contain 4-40 letters or numbers.
                    </mat-error>

                  </mat-form-field>
                </div>
                <br>
                <div class="input-class">
                  <mat-form-field class="full-width">
                    <mat-icon class="prefix-icon">description</mat-icon>
                    <textarea formControlName="desc" matInput placeholder="Description (Optional)" type="text" name="desc" autocomplete="off" maxlength="80"></textarea>
                    <mat-error *ngIf="descFormControl.hasError('pattern') && !descFormControl.hasError('required')">
                      Description can contain 0-80 characters.
                    </mat-error>
                  </mat-form-field>
                </div>
                <button mat-raised-button class="register-button" (click)="registerTeam()" [disabled]="!isDetailsValid()">Create Team</button>
              </form>
        </mat-card-content>
        <button class="register-btn" mat-button (click)='openInfo()'>How to join to an existing team?</button>
        <span *ngIf="errorMsg" class="error-msg">{{errorMsg}}</span>
    </mat-card>
  </div>
  
