<div  *ngIf="!isLogged" style="flex:40%;" style="width:420px;">
    <mat-card class="loginCard">
        <b><mat-card-subtitle>Login</mat-card-subtitle></b>
        <mat-divider></mat-divider>
        <mat-card-content>
          <form [formGroup]="loginFormGroup" #ngForm>
                <div class="input-class">
                  <mat-form-field class="full-width">
                    <input [formControl]="teamnameFormControl" matInput placeholder="Enter Your Team Name" [(ngModel)]="teamName" name="name" required>
                    <mat-icon class="prefix-icon">person</mat-icon>
                    <mat-error *ngIf="teamnameFormControl.hasError('required')">
                      Team name is required.
                    </mat-error>
                    <mat-error *ngIf="teamnameFormControl.hasError('pattern') && !teamnameFormControl.hasError('required')">
                      Team name must contain 1-40 letters or numbers.
                    </mat-error>

                  </mat-form-field>
                </div>
                <br>
                <div class="input-class">
                  <mat-form-field class="full-width">
                    <mat-icon class="prefix-icon">vpn_key</mat-icon>
                    <input [formControl]="passwordFormControl" matInput placeholder="Password" type="password" [(ngModel)]="password" name="pass" required>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                      Password is required.
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('pattern') && !passwordFormControl.hasError('required')">
                      Password must contain 1-40 letters, numbers or special characters
                    </mat-error>
                  </mat-form-field>
                </div>
                <button mat-raised-button class="login-button" (click)="login()" [disabled]="!isDetailsValid()">Login</button>
              </form>
        </mat-card-content>
        <button class="register-btn" mat-button (click)='openRegister()'>Create new account</button>
        <span *ngIf="errorMsg" class="error-msg">{{errorMsg}}</span>
    </mat-card>
  </div>
  