<mat-spinner class="spinner-opts" *ngIf="!clients"></mat-spinner>
<div *ngIf="user && teams" class="div-main">
    <form class="filter-form" *ngIf="clients && clients.length > 0">
      <mat-form-field style="width:250px;">
        <input matInput autocomplete="off" placeholder="Search Client/Team" [(ngModel)]="clientsForSearch" (ngModelchange)="filterClients($event)" style="width:220px;" name="clientsFilter">
        <mat-icon class="prefix-icon-special">search</mat-icon>
      </mat-form-field>
    </form>
    <mat-accordion class="accordion-main">
        <div class="div-empty" *ngIf="(clients && clients.length === 0) || (filterClients(clientsForSearch) && (filterClients(clientsForSearch).length === 0))">
          <mat-icon class="icon-empty">desktop_windows</mat-icon>
          <div class="span-empty">No Clients To Display</div>
        </div>
        
        <mat-expansion-panel class="panel-expan" #currClient *ngFor="let client of filterClients(clientsForSearch)" [expanded]="client.isNew" (click)="client.isNew = false; getClientData(client, currClient); client.start = true;">
          <mat-expansion-panel-header style="width: 95%;">
            <mat-panel-title class="panel-title">
              <mat-progress-bar class="progress-bar-main" *ngIf="client.start && !(client.secret && client.redirectUris)" mode="indeterminate"></mat-progress-bar>
              <!--<img class="avatar-img" src="/assets/png/avatar.png" width="30" height="30"/>-->
              <!--<span style="transform: scale(0.8);position: relative;bottom: 3px;right: 2px;">
                <mat-icon class="avatar-img">desktop_windows</mat-icon>
                <mat-icon style="position: absolute; bottom: 31px; left: -28.5px;color: #29B6F6;font-size: 55px;">fiber_manual_record</mat-icon>
              </span>-->
              <ngx-avatar class="avatar-img" [size]="30" [name]="client.avatarName" [round]="true" [bgColor]="client.color" textSizeRatio="2.5"></ngx-avatar>
              <span class="client-name"> {{ client.name }} - <span style="color:#9A9A9A;"> {{ client.teamName }}</span></span>
            </mat-panel-title>
            <mat-panel-description>
            
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="client-main-div">
            <div class="clientid-div">
              <mat-icon class="clientid-icon">vpn_key</mat-icon>
              <span class="clientid-span">Client ID</span>
            </div>
            <div class="div-inner">
              <textarea readonly class="textarea-stl" #clientId>{{ client.clientId }}</textarea>
              <button mat-icon-button color="primary" (click)="copyClipboard(clientId)" matTooltip="Copy" matTooltipPosition="above"><mat-icon>content_copy</mat-icon></button>
            </div>
          </div>
          <div class="client-main-div">
              <div class="clientid-div">
                <mat-icon class="lock-icon">lock</mat-icon>
                <span class="clientid-span">Client Secret</span>
              </div>
              <div class="div-inner">
                <textarea readonly class="textarea-stl" #clientSecret>{{ client.secret }}</textarea>
                <button mat-icon-button color="primary" (click)="copyClipboard(clientSecret)" matTooltip="Copy" matTooltipPosition="above"><mat-icon>content_copy</mat-icon></button>
              </div>
          </div>
          <div class="client-main-div">
            <div class="clientid-div">
              <mat-icon class="aud-icon">wifi</mat-icon>
              <span class="clientid-span">Audience ID</span>
            </div>
            <div class="div-inner">
              <textarea readonly class="textarea-stl" #audience>{{ client.audienceId }}</textarea>
              <button mat-icon-button color="primary" (click)="copyClipboard(audience)" matTooltip="Copy" matTooltipPosition="above"><mat-icon>content_copy</mat-icon></button>
            </div>
        </div>
          <mat-divider class="divider-stl"></mat-divider>
          <div class="redirect-main-div">
            <div class="redirect-div">
              <mat-icon class="lock-icon">refresh</mat-icon>
              <span class="clientid-span">Redirect Uris</span>
            </div>
            <div class="div-inner-redirect">
              <mat-chip-list class="chip-list">
                <ng-container *ngIf="!client.isEditable">
                  <mat-chip selected *ngFor="let redirectUri of client.redirectUris"> {{ redirectUri }}
                  </mat-chip>
                </ng-container>
                <ng-container *ngIf="client.copyRedirectUris && client.isEditable">
                  <mat-chip selected *ngFor="let redirectUri of client.copyRedirectUris" (removed)="removeCopy(client, redirectUri)"> {{ redirectUri }} 
                    <mat-icon matChipRemove *ngIf="client.copyRedirectUris.length > 1">cancel</mat-icon>
                  </mat-chip>
                </ng-container>
  
                  <form class="example-form" class="form-stl" autocomplete="off" >
                    <mat-chip-list #chipList>
                      <mat-chip  *ngFor="let newRedirectUri of client.newRedirectUris" [selectable]="selectable"
                               (removed)="remove(client, newRedirectUri)">
                        {{ newRedirectUri }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                      <input #Input *ngIf="client.isInputTriggered && client.isEditable" class="myinput"
                              matInput type="text" (blur)="isCancel(client, Input)" placeholder="Redirect Uris..."
                             [matChipInputFor]="chipList"
                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                             [matChipInputAddOnBlur]="true"
                             (matChipInputTokenEnd)="add(client, $event)"
                             name="redirectUris" maxlength="15" autocomplete="off">
                  </mat-chip-list>
                  </form>
                  <button class="btn-save" mat-icon-button matTooltip="Save URI" matTooltipPosition="above" *ngIf="client.isEditable && client.isInputTriggered" [disabled]="client.uri && client.uri.length === 0"><mat-icon>check</mat-icon></button>
                  <button class="btn-add" mat-icon-button matTooltip="Add New URI" matTooltipPosition="above" (click)="client.isInputTriggered = true;" *ngIf="client.isEditable && !client.isInputTriggered"><mat-icon>add</mat-icon></button>
              </mat-chip-list>
            </div>
        </div>
        <div class="hosturi-main-div">
          <div class="hosturi-div">
            <mat-icon class="lock-icon">public</mat-icon>
            <span class="hosturi-span">Host Uris</span>
          </div>
          <div class="div-inner-hosturi" *ngIf="client.fileHostUris && client.fileHostUris.length > 0 && client.correctFile && client.isEditable">
              <span class="hosturi-display" *ngFor="let hostUri of client.fileHostUris | slice:0:2; let i=index">
                {{hostUri}} &nbsp;
              </span>
              <button mat-icon-button color="primary" class="expand-btn" matTooltip="View All Host Uris" matTooltipPosition="above" (click)="expandUris($event, client, true);">
                <mat-icon *ngIf="client.fileHostUris.length <= 2">more_horiz</mat-icon>
                <mat-icon *ngIf="client.fileHostUris.length >= 3" [matBadge]="client.fileHostUris.length - 2" matBadgeColor="warn">more_horiz</mat-icon>
              </button>
          </div>
          <div class="div-inner-hosturi" *ngIf="!client.fileHostUris || !client.correctFile">
            <span class="hosturi-display" *ngFor="let hostUri of client.hostUris | slice:0:2; let i=index">
              {{hostUri}} &nbsp;
            </span>
            <button mat-icon-button color="primary" class="expand-btn" matTooltip="View All Host Uris" matTooltipPosition="above" (click)="expandUris($event, client, false);">
              <mat-icon *ngIf="client.hostUris.length <= 2">more_horiz</mat-icon>
              <mat-icon *ngIf="client.hostUris.length >= 3" [matBadge]="client.hostUris.length - 2" matBadgeColor="warn">more_horiz</mat-icon>
            </button>
          </div>
        </div>
        <div class="input-class" *ngIf="client.isEditable">
            <mat-form-field class="full-width">
              <span class="help-csv" color="primary" (click)="$event.stopPropagation()">
                <mat-icon class="icon-help">help</mat-icon>
                <img class="img-help" src="/assets/png/csvHelp.png">
              </span>
              <mat-icon class="prefix-icon">folder</mat-icon>
              <input matInput placeholder="Import More HostUris" type="text" autocomplete="off" [(ngModel)]="client.currFile" [ngModelOptions]="{standalone: true}" disabled>
              <span *ngIf="client.correctFile === false" matSuffix><mat-icon class="icon-red" [matTooltip]="client.fileError">close</mat-icon></span>
              <span *ngIf="client.correctFile === true" matSuffix><mat-icon class="icon-green" [matTooltip]="client.fileError">done</mat-icon></span>
            </mat-form-field>
              <input type="file" accept=".csv" #fileInput style="display:none" (change)="getFileInfo(client, fileInput)">
              <button mat-icon-button color="primary" (click)="fileInput.click()">
                <mat-icon>attach_file</mat-icon>
              </button>
            <span class="span-err-msg" *ngIf="saveErrMsg">{{saveErrMsg}}</span>
        </div>
        <mat-action-row class="flexable">
            <button mat-button color="warn" class="btn-act" *ngIf="!client.isEditable" (click)="removeClient(client);">Remove</button>
            <button mat-button color="warn" class="btn-act" *ngIf="client.isEditable" (click)="cancelChanges(client);">Cancel</button>
            <div style="width:100%; text-align: center;">
              <button mat-button color="warn" class="btn-act" matTooltipPosition="above"
                      matTooltip="Reset Access Tokens & Get New Client Secret" (click)="resetCredentials(client)">
                      Renew Credentials
              </button>
            </div>
            <span class="span-flexable"></span>
            <button mat-button color="primary" class="btn-bold" *ngIf="!client.isEditable" (click)="setEditable(client)">Edit</button>
            <button mat-button color="primary" class="btn-bold" *ngIf="client.isEditable" [disabled]="!isClientChanged(client)" (click)="saveChanges(client)">Save</button>
        </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <button mat-fab color="primary" class="register-btn" matTooltip="Add Client" matTooltipPosition="above" (click)="openRegister()"><mat-icon>add</mat-icon></button>
  
  </div>
