<div *ngIf="isLogged" class="div-main">
  <mat-spinner style="position:relative; left: 120px; top:180px;" *ngIf="!clients"></mat-spinner>
  <mat-accordion class="accordion-main">
      <div class="div-empty" *ngIf="clients && clients.length === 0">
        <mat-icon class="icon-empty">desktop_windows</mat-icon>
        <div class="span-empty">No Clients To Display</div>  
      </div>
      <mat-expansion-panel class="panel-expan" #currClient *ngFor="let client of clients" [expanded]="client.isNew" (click)="client.isNew = false; getClientData(client, currClient); client.start = true;">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            <mat-progress-bar class="progress-bar-main" *ngIf="client.start && !(client.secret && client.redirectUris)" mode="indeterminate"></mat-progress-bar>
            <avatar class="avatar-img" [size]="30" [name]="client.avatarName" [displayType]="'circle'" [background]="client.color"></avatar>
            <span class="client-name"> {{ client.name }}</span>
          </mat-panel-title>
          <mat-panel-description class="panel-desc">
              <span *ngIf="!client.isEditable || !client.hostUriEditable && !client.hostUriCopy" class="span-desc"> {{ client.hostUri }} </span>
              <span *ngIf="client.hostUriCopy && client.isEditable && !client.hostUriEditable" class="span-desc"> https://{{ client.hostUriCopy }}</span> 
              <mat-form-field *ngIf="client.isEditable && client.hostUriEditable" class="mat-form-uri" (click)="$event.stopPropagation();">
                <span matPrefix class="btn-bold">https://</span>
                <input matInput [(ngModel)]="client.hostUriCopy"/>
              </mat-form-field>
              <button *ngIf="client.isEditable && !client.hostUriEditable" mat-icon-button color="primary" class="edit-btn" matTooltip="Edit HostUri" matTooltipPosition="above" (click)="editHostUri($event, client);"><mat-icon>edit</mat-icon></button>
              <button [disabled]="client.hostUriCopy.length <= 0" *ngIf="client.isEditable && client.hostUriEditable" mat-icon-button color="primary" class="edit-btn" matTooltip="Save HostUri" matTooltipPosition="above" (click)="saveHostUri($event, client);"><mat-icon>check</mat-icon></button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="client-main-div">
          <div class="clientid-div">
            <mat-icon class="clientid-icon">vpn_key</mat-icon>
            <span class="clientid-span">Client ID</span>
          </div>
          <div class="div-inner">
            <textarea readonly class="textarea-stl" #clientId>{{ client.clientId }}</textarea>
            <button mat-icon-button color="primary" (click)="copyClipboard(clientId)" matTooltip="Copy" matTooltipPosition="above"><mat-icon>file_copy</mat-icon></button>
          </div>
        </div>

        <div class="client-main-div">
            <div class="clientid-div">
              <mat-icon class="lock-icon">lock</mat-icon>
              <span class="clientid-span">Client Secret</span>
            </div>
            <div class="div-inner">
              <textarea readonly class="textarea-stl" #clientSecret>{{ client.secret }}</textarea>
              <button mat-icon-button color="primary" (click)="copyClipboard(clientSecret)" matTooltip="Copy" matTooltipPosition="above"><mat-icon>file_copy</mat-icon></button>
            </div>
        </div>
        <mat-divider class="divider-stl"></mat-divider>
        <div class="redirect-main-div">
          <div class="redirect-div">
            <mat-icon class="lock-icon">refresh</mat-icon>
            <span class="clientid-span">Redirect Uris</span>
          </div>
          <div class="div-inner">
            <mat-chip-list class="chip-list">
              <ng-container *ngIf="!client.isEditable">
                <mat-chip selected *ngFor="let redirectUri of client.redirectUris"> {{ redirectUri.substr(8).substr(redirectUri.substr(8).indexOf('/')) }}
                </mat-chip>
              </ng-container>
              <ng-container *ngIf="client.copyRedirectUris && client.isEditable">
                <mat-chip selected *ngFor="let redirectUri of client.copyRedirectUris" (removed)="removeCopy(client, redirectUri)"> {{ redirectUri.substr(8).substr(redirectUri.substr(8).indexOf('/')) }} 
                  <mat-icon matChipRemove *ngIf="client.copyRedirectUris.length > 1">cancel</mat-icon>
                </mat-chip>
              </ng-container>

                <form class="example-form" class="form-stl" autocomplete="off">
                  <mat-chip-list #chipList>
                    <mat-chip  *ngFor="let newRedirectUri of client.newRedirectUris" [selectable]="selectable"
                             (removed)="remove(client, newRedirectUri)">
                      {{ newRedirectUri.substr(8).substr(newRedirectUri.substr(8).indexOf('/')) }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input #Input *ngIf="client.isInputTriggered && client.isEditable" class="myinput"
                            matInput type="text" (blur)="isCancel(client, Input)" placeholder="Redirect Uris..."
                           [matChipInputFor]="chipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="true"
                           (matChipInputTokenEnd)="add(client, $event)"
                           name="redirectUris" maxlength="15" autocomplete="off">
                </mat-chip-list>
                </form>
                <button class="btn-save" mat-mini-fab matTooltip="Save URI" matTooltipPosition="above" *ngIf="client.isEditable && client.isInputTriggered" [disabled]="client.uri && client.uri.length === 0"><mat-icon>check</mat-icon></button>
                <button class="btn-add" mat-mini-fab matTooltip="Add New URI" matTooltipPosition="above" (click)="client.isInputTriggered = true;" *ngIf="client.isEditable && !client.isInputTriggered"><mat-icon>add</mat-icon></button>
            </mat-chip-list>
          </div>
      </div>
      <mat-action-row class="flexable">
          <button mat-button color="warn" class="btn-act" *ngIf="!client.isEditable" (click)="removeClient(client);">Remove</button>
          <button mat-button color="warn" class="btn-act" *ngIf="client.isEditable" (click)="cancelChanges(client);">Cancel</button>
          <span class="span-flexable"></span>
          <button mat-button color="primary" class="btn-bold" *ngIf="!client.isEditable" (click)="setEditable(client)">Edit</button>
          <button mat-button color="primary" class="btn-bold" *ngIf="client.isEditable" [disabled]="!isClientChanged(client)" (click)="saveChanges(client)">Save</button>
      </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <button mat-fab color="primary" class="register-btn" matTooltip="Add Client" matTooltipPosition="above" (click)="openRegister()"><mat-icon>add</mat-icon></button>

</div>