mat-expansion-panel {
    margin:5px;
}

.icon-empty {
    color: #DADADA;
    text-align: center;
    font-size: 300px;
    width: 300px;
    height: 300px;
    cursor: default;
}

.div-empty {
    height:400px;
    text-align: center;
}

.span-empty {
    font-family: Arial;
    text-align:center;
    font-size: 22px;
    color: #CACACA;
}

.avatar-img {
    position: relative;
    bottom: 15px;
    right: 10px;
}

input {
    outline:none;
}

.div-main {
    flex:40%;
}

.accordion-main {
    position:absolute;
    left:27%;
    width:64%;
}

.panel-expan {
    width: 100%;
}

.panel-title {
    position:absolute;
    left:30px;
    width:100%;
}

.progress-bar-main {
    position:absolute;
    top:-24px;
    left:-25px;
}

.btn-act {
    font-weight:bold;
    position:relative;
    right: 20px;
}

.btn-save {
    background-color:white;
    color:#66BB6A;
    position: relative;
    left: 15px;
}

.btn-add {
    background-color: white;
    color:#3f51b5;
    position:relative;
    left: 15px;
}

.btn-bold {
    font-weight: bold;
}

.myinput {
    border-radius: 12px;
    height: 27px;
    text-align: center;
    background-color: white;
    font-weight: bold;
    color: black;
}

.span-desc {
    position:relative;
    bottom: 10px;
    cursor:pointer;
}

.mat-form-uri {
    position: relative;
    bottom:30px;
    width:200px;
}

.clientid-span {
    position: relative;
    top: 10px;
    right: 39px;
    text-align:center;
    font-weight: bold;
    font-size:13px;
}

.clientid-icon {
    position:relative;
    right:0px;
    top: 0px;
    text-align: center;
}

.clientid-div {
    width:50px;
    position:relative;
    flex:15%;
    text-align:center;
    left:15px;
    top:2px;
}

.client-main-div {
    text-align:center;
    display: flex;
    align-items: center;
}

.lock-icon {
    position:relative;
    left:12px;
    top: 0px;
    text-align: center;
}

.div-inner {
    flex:85%;
    position:relative;
    right: 15px;
}

.textarea-stl {
    background-color:#EAEAEA;
    width: 92%;
    position:relative;
    top:14px;
    resize: none;
}

.divider-stl {
    position:relative;
    top:25px;
}

.redirect-main-div {
    text-align:center;
    display: flex;
    align-items: center;
    position:relative;
    top:15px;
    height:120px;
}

.redirect-div {
    width:50px;
    position:relative;
    flex:15%;
    text-align:center;
    left:15px;
    top:0px;
}

.client-name {
    position:relative;
    bottom: 10px;
}

.panel-desc {
    position:absolute;
    left:40%;
}

.edit-btn {
    position:relative;
    bottom: 22px;
    left:10px;
}

.upload-btn {
    position:absolute;
    left: -40px;
    bottom: 21px;
}

.expand-btn {
    position: relative;
    bottom: 22px;
}

.chip-list {
    position:relative;
    left: 10px;
}

.form-stl {
    margin: 0 0 0 15px;
}

.flexable {
    display: flex;
}

.span-flexable {
    flex: 1 1 auto;
}

.register-btn {
    position:fixed;
    right: 50px;
    bottom: 50px;
}