<div *ngIf="isLogged" style="flex:40%;" style="width:1000px; position:relative; left:100px;">
  <mat-accordion style="position:absolute; width: 100%;">
      <div class="div-empty" *ngIf="clients && clients.length === 0">
        <mat-icon class="icon-empty">desktop_windows</mat-icon>
        <div class="span-empty">No Clients To Display</div>  
      </div>
      <mat-expansion-panel #currClient *ngFor="let client of clients" [expanded]="client.isNew" (click)="client.isNew = false; getClientData(client, currClient); client.start = true;" style="width:100%;">
        <mat-expansion-panel-header>
          <mat-panel-title style="position:absolute; left:30px; width:100%;">
            <mat-progress-bar *ngIf="client.start && !(client.secret && client.redirectUris)" mode="indeterminate" style="position:absolute; top:-24px; left:-25px;"></mat-progress-bar>
            <avatar class="avatar-img" [size]="30" [name]="client.avatarName" [displayType]="'circle'" [background]="client.color"></avatar>
            <span style="position:relative; bottom: 10px;"> {{ client.name }}</span>
          </mat-panel-title>
          <mat-panel-description style="position:absolute; left:40%;">
              <span style="position:relative; bottom: 10px;"> {{ client.hostUri }} </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="text-align:center; display: flex; align-items: center;">
          <div style="width:50px; position:relative; flex:15%; text-align:center; left:15px; top:2px;">
            <mat-icon style="position:relative; right:0px; top: 0px; text-align: center;">vpn_key</mat-icon>
            <span style="position: relative; top: 10px; right: 39px; text-align:center; font-weight: bold; font-size:13px;">Client ID</span>
          </div>
          <div style="flex:85%; position:relative; right: 15px;">
            <textarea readonly style="background-color:#EAEAEA; width: 92%; position:relative; top:14px; resize: none;" #clientId>{{ client.clientId }}</textarea>
            <button mat-icon-button color="primary" (click)="copyClipboard(clientId)" matTooltip="Copy" matTooltipPosition="above"><mat-icon>file_copy</mat-icon></button>
          </div>
        </div>

        <div style="text-align:center; display: flex; align-items: center;">
            <div style="width:50px; position:relative; flex:15%; text-align:center; left:15px; top:2px;">
              <mat-icon style="position:relative; left:12px; top: 0px; text-align: center;">lock</mat-icon>
              <span style="position: relative; top: 10px; right: 39px; text-align:center; font-weight: bold; font-size:13px;">Client Secret</span>
            </div>
            <div style="flex:85%; position:relative; right: 15px;">
              <textarea readonly style="background-color:#EAEAEA; width: 92%; position:relative; top:14px; resize: none;" #clientSecret>{{ client.secret }}</textarea>
              <button mat-icon-button color="primary" (click)="copyClipboard(clientSecret)" matTooltip="Copy" matTooltipPosition="above"><mat-icon>file_copy</mat-icon></button>
            </div>
        </div>
        <mat-divider style="position:relative; top:25px;"></mat-divider>
        <div style="text-align:center; display: flex; align-items: center; position:relative; top:15px; height:120px;">
          <div style="width:50px; position:relative; flex:15%; text-align:center; left:15px; top:0px;">
            <mat-icon style="position:relative; left:12px; top: 0px; text-align: center;">refresh</mat-icon>
            <span style="position: relative; top: 10px; right: 39px; text-align:center; font-weight: bold; font-size:13px;">Redirect Uris</span>
          </div>
          <div style="flex:85%; position:relative; right: 15px;">
            <mat-chip-list style="position:relative; left: 10px;">
              <mat-chip selected *ngFor="let redirectUri of client.redirectUris"> {{ redirectUri.substr(8).substr(redirectUri.substr(8).indexOf('/')) }} 
                <mat-icon *ngIf="client.isEditable" matChipRemove>cancel</mat-icon></mat-chip>
                <form class="example-form" style="margin: 0 0 0 15px" autocomplete="off">
                  <mat-chip-list #chipList>
                    <mat-chip  *ngFor="let newRedirectUri of client.newRedirectUris" [selectable]="selectable"
                             (removed)="remove(client, newRedirectUri)">
                      {{newRedirectUri.substr(8).substr(newRedirectUri.substr(8).indexOf('/'))}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input #Input *ngIf="client.isInputTriggered && client.isEditable" class="myinput" style="border-radius: 12px;
                                  height: 27px;
                                  text-align: center;
                                  background-color: white;
                                  font-weight: bold;
                                  color: black;"
                            matInput type="text" (blur)="isCancel(client, Input)" placeholder="Redirect Uris..."
                           [matChipInputFor]="chipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="addOnBlur"
                           (matChipInputTokenEnd)="add(client, $event)"
                           name="redirectUris" maxlength="15" autocomplete="off">
                </mat-chip-list>
                </form>
                <button style="background-color: white; color:#66BB6A; position: relative; left: 15px;" mat-mini-fab matTooltip="Save URI" matTooltipPosition="above" *ngIf="client.isEditable && client.isInputTriggered" [disabled]="client.uri && client.uri.length === 0"><mat-icon>check</mat-icon></button>
                <button style="background-color: white; color:#3f51b5; position:relative; left: 15px;" mat-mini-fab matTooltip="Add New URI" matTooltipPosition="above" (click)="client.isInputTriggered = true;" *ngIf="client.isEditable && !client.isInputTriggered"><mat-icon>add</mat-icon></button>
            </mat-chip-list>
          </div>
      </div>
      <mat-action-row style="display: flex;">
          <button mat-button color="warn" style=" font-weight:bold; position:relative; right: 20px;" *ngIf="!client.isEditable" (click)="removeClient(client);">Remove</button>
          <button mat-button color="warn" style=" font-weight:bold; position:relative; right: 20px;" *ngIf="client.isEditable" (click)="cancelChanges(client);">Cancel</button>
          <span style="flex: 1 1 auto;"></span>
          <button mat-button color="primary" style="font-weight: bold;" *ngIf="!client.isEditable" (click)="client.isEditable = true">Edit</button>
          <button mat-button color="primary" style="font-weight: bold;" *ngIf="client.isEditable" [disabled]="!client.isChanged" (click)="saveChanges(client)">Save</button>
      </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <button mat-fab color="primary" style="position:fixed; right: 100px; bottom:100px;" matTooltip="Add Client" matTooltipPosition="above" (click)="openRegister()"><mat-icon>add</mat-icon></button>

</div>