<mat-toolbar>
    <mat-toolbar-row>
      <span>{{scope.clientName}} "{{scope.scopeName}}" Permitted Clients</span>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>

<!--<mat-spinner style="position: absolute; left: 44%;top: 40%;" *ngIf="!doneLoading"></mat-spinner>-->
<mat-list class="scrollbar scrollbar-primary" style="padding-top:0;">
  <mat-list-item style="background-color: #EAEAEA;font-weight: bold;">
    <div style="flex:49%">Client Name</div>
    <div style="flex:30%">
      <span>Description</span>
    </div>
    <div style="flex:20%">
      <span></span>
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
<mat-list class="scrollbar scrollbar-primary" style="padding-top:0; max-height:688px; overflow-y:auto; overflow-x:hidden">
  <mat-list-item *ngFor="let permittedClient of scope.permittedClients">
    <div style="flex:50%">
      <span style="position: absolute;top: 6px;">{{ permittedClient.clientName }}</span>
      <span style="position: absolute;bottom: 4px;color: #AAAAAA;font-size: 13px;">
        {{ permittedClient.teamName }}
      </span>
    </div>
    <div style="flex:45%">
      <span>{{ permittedClient.clientDesc }}</span>
    </div>
    <div style="flex:20%" style="text-align:right;">
      <button (click)="removeClient(permittedClient)" mat-icon-button color="warn" matTooltip="Remove Client From Scope"><mat-icon>delete</mat-icon></button>
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<button matTooltip="Add Client To Scope"
        matTooltipPosition="above"
        (click)="openAddClient()"
        mat-fab color="primary"
        style="position:absolute; right:20px; bottom: 20px;">
  <mat-icon>add</mat-icon>
</button>
