<html>
<head></head>
<div style="text-align: center; position:relative; font-size:30px; left:100px; top:90px; color: rgba(0,0,0,0.5); font-weight: bold; font-family: Arial;">
    <span>Under Construction</span>
</div>
<div style="text-align: center; position:relative;">
    <mat-icon color="warn" style="font-size:80px; position:relative; left:76px; top:150px">warning</mat-icon>
  </div>
<div class="place_balk_workers">
    <div class="balk_workers"></div>
    <div class="saw"></div>
    <div class="balk"></div>
    <div style="text-align:center; position:relative; top:20px">
    </div>
</div>
</html>