@media (max-width: 468px) {
    .title {
        margin-bottom: 35px;
    }

    .place_balk_workers {
        width: 290px;
        height: 150px;
        margin: 40px auto -10px;
    }
    .place_balk_workers .balk_workers {
        width: 290px;
        height: 150px;
    }
    .place_balk_workers .balk {
        width: 41px;
        height: 15px;
        top: 70px;
        left: 128px;
    }
    .place_balk_workers .saw {
        width: 215px;
        height: 36px;
        left: 37px;
        top: 59px;
        -moz-animation: 1.0s ease 0s normal none infinite saw_mob;
        -moz-transform-origin: 85% 65%;
        -webkit-animation: saw_mob 1.0s infinite ease-in-out;
        -webkit-transform-origin: 85% 65%;
        -o-animation: 1.0s ease 0s normal none infinite saw_mob;
        -o-animation: saw_mob 1.0s infinite ease-in-out;
        -o-transform-origin: 85% 65%;
        -ms-animation: 1.0s ease 0s normal none infinite saw_mob;
        -ms-animation: saw_mob 1.0s infinite ease-in-out;
        -ms-transform-origin: 85% 65%;
        animation: 1.0s ease 0s normal none infinite saw_mob;
        animation: saw_mob 1.0s infinite ease-in-out;
        transform-origin: 85% 65%;
    }

    /* -------- Watch -------- */
    #watch .dash span.dash_title {
        text-align: center;
    }

    #watch .dash {
        width: auto;
        min-width: 70px;
        padding: 0px 8px 0px;
        height: 79px;
        line-height: 62px;
        margin: 0px -2px;
    }

    #watch .dash:last-child {
        padding: 0px 0px 0px 8px;
    }

    #watch .dash .digit {
        font-size: 36px;
        line-height: 56px;
        height: 44px;
        width: 20px;
    }

}

.place_balk_workers {
    width: 437px;
    height: 213px;
    position: relative;
    left:100px;
    margin: 90px auto -10px;
}

.place_balk_workers .balk_workers {
    width: 437px;
    height: 213px;
    position: relative;
    background-image: url("/assets/svg/workers.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: transparent;
    background-size: 100%;
    z-index: 3;
}

.place_balk_workers .balk {
    width: 60px;
    height: 23px;
    background-image: url("/assets/svg/balk.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: transparent;
    background-size: 100%;
    position: absolute;
    top: 92px;
    left: 194px;
}

.place_balk_workers .saw {
    width: 325px;
    height: 63px;
    background-image: url("/assets/svg/saw.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: transparent;
    background-size: 100%;
    position: absolute;
    left: 53px;
    top: 68px;
    z-index: 2;
    -moz-animation: 1.0s ease 0s normal none infinite saw;
    -moz-transform-origin: 85% 65%;
    -webkit-animation: saw 1.0s infinite ease-in-out;
    -webkit-transform-origin: 85% 65%;
    -o-animation: 1.0s ease 0s normal none infinite saw;
    -o-animation: saw 1.0s infinite ease-in-out;
    -o-transform-origin: 85% 65%;
    -ms-animation: 1.0s ease 0s normal none infinite saw;
    -ms-animation: saw 1.0s infinite ease-in-out;
    -ms-transform-origin: 85% 65%;
    animation: 1.0s ease 0s normal none infinite saw;
    animation: saw 1.0s infinite ease-in-out;
    transform-origin: 85% 65%;
}

@-moz-keyframes saw {
    0% {
        left: 53px
    }
    50% {
        left: 72px
    }
    100% {
        left: 53px
    }
}

@-webkit-keyframes saw {
    0% {
        left: 53px
    }
    50% {
        left: 72px
    }
    100% {
        left: 53px
    }
}

@-o-keyframes saw {
    0% {
        left: 53px
    }
    50% {
        left: 72px
    }
    100% {
        left: 53px
    }
}

@-ms-keyframes saw {
    0% {
        left: 53px
    }
    50% {
        left: 72px
    }
    100% {
        left: 53px
    }
}

@keyframes saw {
    0% {
        left: 53px
    }
    50% {
        left: 72px
    }
    100% {
        left: 53px
    }
}

@-moz-keyframes saw_mob {
    0% {
        left: 47px
    }
    50% {
        left: 33px
    }
    100% {
        left: 47px
    }
}

@-webkit-keyframes saw_mob {
    0% {
        left: 47px
    }
    50% {
        left: 33px
    }
    100% {
        left: 47px
    }
}

@-o-keyframes saw_mob {
    0% {
        left: 47px
    }
    50% {
        left: 33px
    }
    100% {
        left: 47px
    }
}

@-ms-keyframes saw_mob {
    0% {
        left: 47px
    }
    50% {
        left: 33px
    }
    100% {
        left: 47px
    }
}

@keyframes saw_mob {
    0% {
        left: 47px
    }
    50% {
        left: 33px
    }
    100% {
        left: 47px
    }
}

.div-icon {
    text-align:center;
    position:relative;
}

.div-txt {
    text-align:center;
    position:relative;
    font-size:30px;
    left:100px;
    top:90px;
    color:rgba(0,0,0,0.5);
    font-weight:bold;
    font-family:Arial;
}

.icon-warning {
    font-size:80px;
    position:relative;
    left:76px;
    top:150px
}

.div-empty {
    text-align:center;
    position:relative;
    top:20px
}