mat-card {
    margin:20px;
    height: 280px
}

mat-card-subtitle {
    text-align:center;
}

mat-card-content {
    text-align:center;
    position:relative;
    margin: 60px 50px 50px 50px;
}

.mainDiv {
    position:relative;
    top: 150px;
    display: flex;
}

.login-form {
    min-width: 150px;
    max-width:400px;
    width:100%;
}

.full-width {
    width:100%;
}

.prefix-icon {
    font-size:30px;
    color: #757575;
    position:absolute;
    left: -40px;
    bottom:5px;
}

.input-class {
    margin-left:25px;
}

.login-button {
    color: white;
    background-color: black;
    position:absolute;
    right: 0px;
    bottom: -70px;
}

.logout-button {
    position: fixed;
    left: 50px;
    bottom:50px;
}

.email-button {
    position: relative;
    left: 50px;
}