<mat-toolbar>
    <mat-toolbar-row>
      <span>Add New Team</span>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="main-team">
  <form style="margin: 0 100px;" [formGroup]="loginFormGroup" #ngForm autocomplete="off">
        <div class="input-class">
          <mat-form-field class="full-width">
            <input formControlName="teamname" #inputSelected="matInput" autofocus matInput placeholder="Enter Your Team Name" name="name" maxlength="40" autocomplete="off" required>
            <mat-icon class="prefix-icon">group</mat-icon>
            <mat-error *ngIf="teamnameFormControl.hasError('required')">
              Team name is required.
            </mat-error>
            <mat-error *ngIf="teamnameFormControl.hasError('pattern') && !teamnameFormControl.hasError('required')">
              Team name must contain 4-40 letters or numbers.
            </mat-error>

          </mat-form-field>
        </div>
        <br>
        <div class="input-class">
          <mat-form-field class="full-width">
            <mat-icon class="prefix-icon">description</mat-icon>
            <textarea formControlName="desc" matInput placeholder="Description (Optional)" type="text" name="desc" autocomplete="off" maxlength="80"></textarea>
            <mat-error *ngIf="descFormControl.hasError('pattern') && !descFormControl.hasError('required')">
              Description must contain 1-300 characters.
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-raised-button class="login-button" (click)="addTeam()" disabled="disabled" [disabled]="!isDetailsValid()">Create Team</button>
    </form>
    <span *ngIf="errorMsg" class="error-msg">*{{errorMsg}}</span>
  </div>
  