<mat-toolbar>
  <mat-toolbar-row>
    <span>{{client.name}} Host Uris Management</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-form-field style="margin:20px; width:40%;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Hosts">
</mat-form-field>
  
<div class="table">
  <table mat-table [dataSource]="dataSource" style="width:96%; max-height:250px;">
  
    <!-- HostUri Column -->
    <ng-container matColumnDef="hostUri">
      <th mat-header-cell *matHeaderCellDef> Host URI </th>
      <td mat-cell *matCellDef="let host"> {{host.hostUri}} </td>
    </ng-container>

    <!-- HostPort Column -->
    <ng-container matColumnDef="hostPort">
      <th mat-header-cell *matHeaderCellDef> Host Port </th>
      <td mat-cell *matCellDef="let host"> {{host.hostPort}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>