<div  *ngIf="isLogged" style="flex:40%;" style="width:1000px;">
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              GoogleMe Token
            </mat-panel-title>
            <mat-panel-description>
              https://googleme.services.idf
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div style='text-align:center;'>
          <mat-icon style='position:relative; right:6px; top: 5px;'>vpn_key</mat-icon>
          <textarea readonly style='background-color:#EAEAEA; width: 90%; position:relative; top:14px;' #userInput>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjViNzAxMjg5NTJlY2VkMzIzMGI0YmNkMyIsImlhdCI6MTUzNDA3MTQzMywiZXhwIjoxNTM0MDcxNDkzfQ.gSnFbauA67xG7oM9xa7wvAhBHa8Ot-KM-G-yo3NL8XI</textarea>
          <button mat-icon-button color="primary" (click)='copyClipboard(userInput)'><mat-icon>file_copy</mat-icon></button>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)='panelOpenState = true'
                             (closed)='panelOpenState = false'>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
</div>