<div  *ngIf="isLogged" style="flex:40%;" style="width:1000px;">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let token of tokens"> 
          <mat-expansion-panel-header>
            <mat-panel-title style="width:100px">
              {{ token.name }}
            </mat-panel-title>
            <mat-panel-description>
              {{ token.hostname }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div style='text-align:center;'>
          <mat-icon style='position:relative; right:6px; top: 5px;'>vpn_key</mat-icon>
          <textarea readonly style='background-color:#EAEAEA; width: 90%; position:relative; top:14px; resize: none;' #userInput>{{ token.token }}</textarea>
          <button mat-icon-button color="primary" (click)='copyClipboard(userInput)' matTooltip="copy" matTooltipPosition="above"><mat-icon>file_copy</mat-icon></button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
</div>