<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Register</span>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="mat-card-content">
    <div class="input-class">
        <mat-form-field class="full-width">
          <input matInput placeholder="Enter Application Name" [(ngModel)]="appName"><mat-icon class="prefix-icon">person</mat-icon>
        </mat-form-field>
      </div>
      <br>
      <div class="input-class">
        <mat-form-field class="full-width">
          <mat-icon class="prefix-icon">public</mat-icon>
          <input matInput placeholder="https://example.com" type="text" [(ngModel)]="website">
          <mat-icon class="help-authorize" [matTooltip]="ORIGIN_HELP" matTooltipPosition="above">help</mat-icon>
        </mat-form-field>
      </div>
      <br>
      <div class="input-class">
        <mat-form-field class="full-width">
          <mat-icon class="prefix-icon">refresh</mat-icon>
          <input matInput placeholder="https://example.com/oauth2callback" type="text" [(ngModel)]="callback">
          <mat-icon class="help-authorize" [matTooltip]="AUTHORIZE_HELP" matTooltipPosition="above">help</mat-icon>
        </mat-form-field>
      </div>
      <mat-spinner *ngIf="!isDone" diameter="50" style="position:absolute; bottom:-70px;"></mat-spinner>
    <button mat-raised-button class="login-button" (click)="isExist()" type="submit">Register</button>
</div>
