<mat-spinner class="spinner-opts" *ngIf="!teams"></mat-spinner>
<div *ngIf="teams">
    <div style="display:flex; flex-wrap: wrap; justify-content: center; position:relative; top:60px;">
        <mat-card style="width: 240px; height: 210px; margin: 20px;" *ngFor="let team of teams">
            <mat-card-header style="text-align: left; position:relative; right: 16px;">
                <mat-icon *ngIf="team.isAdmin" style="position: absolute;right: -23px; top: -6px; cursor: default;" matTooltip="Admin Permissions" matTooltipPosition="above">gavel</mat-icon>
                <mat-card-title>{{ team.teamname }}</mat-card-title>
                <mat-card-subtitle>Created by {{ team.ownerName }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="text-align: left;">
            <p *ngIf="team.desc">
                {{ team.desc }}
            </p>
            <span style="position: absolute;bottom: 10px;left: 16px;cursor: default;">
                <mat-icon style="color:black" matTooltip="Amount of persons in the team" matTooltipPosition="above"
                          [matBadge]="team.userIds.length + team.adminIds.length" matBadgeColor="primary" matBadgeSize="small">person</mat-icon>
            </span>
            </mat-card-content>
            <mat-card-actions style="text-align:right;">
                <button *ngIf="!team.isAdmin" (click)="openTeamManagement(team)" mat-icon-button style="position:absolute; bottom: 10px; right: 10px;" color="primary" matTooltip="View Team Members" matTooltipPosition="above" >
                    <mat-icon>visibility</mat-icon>
                </button>
                <button *ngIf="team.isAdmin" (click)="openTeamManagement(team)" mat-icon-button style="position:absolute; bottom: 10px; right: 10px;" color="primary" matTooltip="Manage Team" matTooltipPosition="above" >
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <button mat-fab color="primary" matTooltip="Create New Team" matTooltipPosition="above" style="position:fixed; right: 50px; bottom: 50px;" (click)="openNewTeam()">
        <mat-icon>add</mat-icon>
    </button>
</div>
