.spinner-opts {
    position:relative;
    top:180px;
}

.tb-header {
    color:black;
    font-weight: bold;
}

.lock-icon {
    width: 21px;
    height: 21px;
    font-size: 21px;
    color: #9a9a9a;
    position: relative;
    top: 1px;
}

.access-span {
    position: relative;
    bottom: 3px;
    left: 4px;
}