<div class="example-sidenav-container">
    <button mat-icon-button class="btn-menu" (click)="sidenav.toggle();"><mat-icon style="color: white;">menu</mat-icon></button>
    <div *ngIf="(team && team.length > 0)|| (team && (team.teams && team.teams.length > 0)) " #sidenav mode="side" opened class="sidenav">
        <mat-list>
            <h3 mat-subheader class="h3-text">Hello {{ user.fullName || user.name.firstName + ' ' + user.name.lastName }}</h3>
            <div class="btns-list">
                <mat-list-item>
                    <button mat-button class="btn-list" routerLink="/clients" routerLinkActive="active">
                        <h4 mat-line class="btn-text"><mat-icon class="btn-icon">vpn_key</mat-icon> Manage Clients</h4>
                    </button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-button class="btn-list" routerLink="/teams" routerLinkActive="active">   
                        <h4 mat-line class="btn-text"><mat-icon class="btn-icon">assignment</mat-icon> Manage Teams</h4>
                    </button>
                </mat-list-item>
            </div>
        </mat-list>
    </div>
    <div style="flex:85%; overflow-y: auto; max-height: calc(100vh - 64px);">
        <router-outlet></router-outlet>
    </div>
</div>