.sidenav {
    flex:15%;
    background-color: #DADADA;
    height:100%;
}

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }

  .btn-list {
      height: 50px;
      position:relative;
      right:10px;
      width:100%;
      text-align:left;

  }

  .btns-list {
      position:relative;
      top: 30px;
      width: 220px;
  }

  .btn-icon {
      position:relative;
      top:7px;
  }

  .btn-text {
      position:relative;
      top:3px;
      font-weight: 540;
  }

  mat-list-item {
      margin: 5px 0 5px 0;
      position:relative;
      left: 10px;
  }

.active {
    background-color: rgba(0,0,0,0.1);
}

.mat-subheader {
    display: block !important;
}

.example-container {
    display:flex;
    flex-direction: column;
}

.example-sidenav-container {
  text-align: center;
  height: calc(100vh - 64px);
  text-align: -webkit-center;
  display:flex;
  background-color: rgba(235 ,235, 235, 1);
}

.btn-menu {
    position: fixed;
    left: 5px;
    top: 12px;
}

.h3-text {
    font-weight: bold;
    text-align:center;
}