/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import '~material-design-icons/iconfont/material-icons.css';

body {
    margin: 0px;
    background-color: rgba(235 ,235, 235, 1);
}

mat-dialog-container {
    padding: 0 !important;
    overflow-x: hidden !important;
    position: relative;
}

mat-expansion-panel-header {
    padding: 0 28px !important;
}

.mat-drawer-container {
    overflow: initial !important;
}

.mat-dialog-container {
    overflow-y: hidden !important;
}
html, body { 
    height: 100%;
    overflow-y: hidden;
}

.mat-badge-content {
    background-color: black;
}

body { margin: 0; font-family: 'Roboto', sans-serif; }
